/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.8)), url('https://image.shutterstock.com/image-photo/tools-construction-site-sunset-background-260nw-1252300994.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e53935;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #333;
}

.lista {
    margin-top: 20px;
}

.cliente-item, .producto-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

button {
    background-color: #e53935;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c62828;
}

.hidden {
    display: none;
}

.form-container-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-container {
    flex: 1;
    margin-right: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-container:last-child {
    margin-right: 0;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.venta-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.venta-button:hover {
    background-color: #c62828;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carousel-images {
    display: flex;
    transition: transform 1s ease;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}
